<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container">May4</h1>
    <h3 class="container">Uma API dos planetas do Starwars</code></h3>
  </div>
  <div class="main container clearfix">
    <p>Nesta API você poderá cadastrar, listar, buscar, ver detalhes, editar e excluir planetas.</p>
    <p>O endpoint de detalhes dos planetas também busca em quais filmes este planeta apareceu.</p>
    <h2>Os endpoints disponíveis são:</h2>
    <pre>
        POST    http://localhost:1337/api/planetas/create
        PUT     http://localhost:1337/api/planetas/update/:id
        DELETE  http://localhost:1337/api/planetas/delete/:id
        GET     http://localhost:1337/api/planetas/:id
        GET     http://localhost:1337/api/planetas/search/:term
    </pre>
  </div>
</div>
